<!-- mettre une directive ngFor -->
<div class="row p-2" *ngFor="let product of getProducts()">
  <p>{{product.name}}</p>

  <div *ngIf="product.name=='Kayak'">
    Je répéte {{product.name}}
  </div>

  <div [ngSwitch]="product.name">
    <p *ngSwitchCase="'Kayak'">C'est bien un kayak</p>
    <p *ngSwitchDefault>Ceci n'est pas un kayak</p>
  </div>
</div>

<ng-template #templateDeBarjot let-list="data">
  Ceci est un template réutilisable
  <div *ngFor="let item of list">
    {{item.name}}
  </div>
</ng-template>

<ng-container [ngTemplateOutlet]="templateDeBarjot"
  [ngTemplateOutletContext]="{data: getProducts()}">
</ng-container>

<ng-container [ngTemplateOutlet]="templateDeBarjot"
              [ngTemplateOutletContext]="{data: [{name: 'champignon'}, {name: 'fraise'},]}">
</ng-container>
